#new-service {
    display: flex;
    flex-direction: column;

    #new-service-text {
        color: rgba(var(--font-color-rgb), .5);
    }

    #services {
        margin-top: 2rem;
        width: 90%;
        align-self: center;
    }
}

#connect-minecraft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;

    p {
        text-align: center;
        color: rgba(var(--font-color-rgb), .5);
    }

    #connect-minecraft-text-top {
        margin-bottom: 1rem;
    }

    ul {
        list-style-type: decimal;
    }
}
