// Fonts
@import url('https://fonts.googleapis.com/css?family=Inter');

// Variables
@import 'variables';

// Classnames
@import 'classnames';

// App Config
* {
  font-family: $font-family-sans-serif;
  margin: 0;
  padding: 0;

  body {
    background-color: $body-bg;

    .app {
      height: 100vh;
      width: 100vw;
      display: grid;
      grid-template-rows: 12.5% 88.5%;
      .header {
        display: flex;
        align-items: center;
        padding: 0 2vw;
      }
      .container {
        display: grid;
        grid-template-columns: 30% 70%;
      }
    }
  }

  .action-cover {
    pointer-events: none;
  }
}

// Elements
@import "elements/elements";