.nv-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  .nv-logo-path {
    padding-right: .5vw;
    path {
      cursor: pointer;
    }
  }
  .nv-logo-title {
    font-weight: normal;
  }
}