#pin {
    display: flex;
    flex-direction: column;
    align-items: center;

    #pin-text {
        margin: 2rem 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;

        p {
            width: 80%;
            color: rgba($font-color, .5);
        }
    }
}

