.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 40vw;
  align-self: center;
  .content-heading {
    text-align: center;
    h1 {
      font-weight: normal;
      color: $font-color;
    }
    h2 {
      font-weight: normal;
      color: rgba($font-color, .5);
      font-size: 1rem;
      margin-top: .25rem;
    }
  }
  .content {
    margin-top: 5rem;
  }
}