.modal-portal {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100%;
  z-index: 1;

  .modal-wrapper {
    display: flex;
  }

  .screen-modal {
    background-color: $main;
    overflow: hidden;

    .screen-modal-loader {
      width: 40vw;
      height: 80vh;
    }

    .screen-modal-heading {
      width: 40vw;
      position: relative;

      .content-heading {
        justify-self: center;
      }

      .screen-modal-back {
        position: absolute;
        display: flex;
        align-items: center;
        height: 100%;

        svg {
          stroke: rgba($font-color, .5);
          justify-self: start;
          scale: 1.5;
          cursor: pointer;
        }
      }
    }

    #screen-modal-text {
      width: 100%;
      display: flex;
      text-align: center;
      margin-top: 2rem;
      justify-content: center;
      margin-bottom: 2rem;

      p {
        width: 80%;
        color: rgba($font-color, .5);
      }
    }

    #screen-modal-form {
      button[type="submit"] {
        background: none;
        outline: none;
        border: none;
        color: $splash;
        align-self: end;
        margin-right: 5px;
        cursor: pointer;

        &:hover {
          color: rgba($font-color, .5);
        }
      }
    }

    .content {
      width: 40vw !important;
      padding-right: 0 !important;
      transform: none !important;
    }
  }
}
